# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
*.egg
venv/
.env

# 模型文件（太大不上传，或选择使用Git LFS）
*.pth
*.bin
*.h5
*.onnx

# 日志
logs/
*.log

# IDE
.vscode/
.idea/

# 数据文件
*.parquet!
data/raw/

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
